
videos/
server/env_site
venv
*.pyc
front_app/_pycache_/*
CREM_Webapp/_pycache_/*
contact/_pycache_/*
.vscode
instrumentation/_pycache_/*
front_app/__pycache__/*
CREM_Webapp/CREM_Webapp/Settings.py
CREM_Webapp/settings.py
CREM_Webapp/settings.py
