<footer id="footer" class="page-section pt-80 pb-50 footer2-black">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 widget">
        <div class="logo-footer-cont">
          <a href="HOME_EN.html">
            <img
              class="logo-footer"
              src="../static/images/logo-white.png"
              alt="logo"
            />
          </a>
        </div>
        <div class="footer-2-text-cont">
          <address>
            Eco-Campus UEMF<br />
            Rond-point Bensouda, <br />
            Route de Meknes, Fez
          </address>
        </div>
        <div class="footer-2-text-cont">
          053890-9000<br />
          053890-1010
        </div>
        <div class="footer-2-text-cont">
          <a class="a-text" href="crem-contact@ueuromed.org"
            >crem-contact@ueuromed.org</a
          >
        </div>
      </div>

      <div class="col-md-3 col-sm-3 widget">
        <h4>CREM</h4>
        <ul class="links-list a-text-cont">
          <li><a href="#">HOME</a></li>
          <li><a href="#about-us-link">ABOUT US</a></li>
          <li><a href="{% url 'ASMP_index' %}">RESEARCH PLATFORMS</a></li>
          <li><a href="{% url 'contact' %}">CONTACT</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-sm-3 widget">
        <h4>NAVIGATION</h4>
        <ul class="links-list bold a-text-cont">
          <li>
            <a href="{% url 'ASMP_index' %}">
              ADDITIVE/SUBSTRACTIVE MANUFACTURING AND PROTOTYPING
            </a>
          </li>
          <li>
            <a href="{% url 'ASMP_index' %}"
              >MATERIALS, SYNTHESIS AND CHARACTERIZATION</a
            >
          </li>
          <li>
            <a href="{% url 'ASMP_index' %}"
              >BIOTECHNOLOGY ET BIOMEDICAL ENGINEERING</a
            >
          </li>
          <li>
            <a href="{% url 'ASMP_index' %}"
              >PROCESS ENGINEERING AND CIVIL ENGINEERING</a
            >
          </li>
          <li>
            <a href="{% url 'ASMP_index' %}">SENSORS AND INSTRUMENTATIONS</a>
          </li>
          <li>
            <a href="{% url 'ASMP_index' %}">AI AND DIGITALE ENGINEERING</a>
          </li>
          <li>
            <a href="{% url 'ASMP_index' %}"
              >RENEWABLE ENERGIES, STORAGE AND ENERGY EFFICIENCY</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-2-copy-cont clearfix">
      <!-- Social Links -->
      <div class="footer-2-soc-a right">
        <a href="#" title="Facebook" target="_blank"
          ><i class="fa fa-facebook"></i
        ></a>
        <a href="#" title="Twitter" target="_blank"
          ><i class="fa fa-twitter"></i
        ></a>
        <a href="#" title="Youtube" target="_blank"
          ><i class="fa fa-youtube"></i
        ></a>
        <a href="#" title="LinkedIn+" target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
        <a href="#" title="Instagram" target="_blank"
          ><i class="fa fa-instagram"></i
        ></a>
      </div>
      <!-- Copyright -->
      <div class="left">
        <a class="footer-2-copy" href="https://www.ueuromed.org" target="_blank"
          >&copy; Ueuromed-2024</a
        >
      </div>
    </div>
    <p id="back-top">
      <a href="#top" title="Back to Top"
        ><span class="icon icon-arrows-up"></span
      ></a>
    </p>
  </div>
</footer>
