<!DOCTYPE html>
<html lang="fr">
 	<head>
		<title>Contact us</title>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="robots" content="index, follow" > 
		<meta name="keywords" content="Manufacturing, Technology " > 
		<meta name="description" content="Contact UEMF Platformes" > 
		<meta name="author" content="AB">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- FAVICONS -->
    <link rel="shortcut icon" href="../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/favicon/favicon.ico">
		
<!-- CSS -->

    <!-- FLEXSLIDER SLIDER CSS -->
		<link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"  >

    <!-- BOOTSTRAP -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
	
    <!-- GOOGLE FONT -->		
		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7COpen+Sans:400,300,700' rel='stylesheet' type='text/css'>
  
    <!-- ICONS ELEGANT FONT & FONT AWESOME & LINEA ICONS -->		
		<link rel="stylesheet" href="../static/css/icons-fonts.css" >	
	
    <!-- CSS THEME -->		
		<link rel="stylesheet" href="../static/css/style.css" >

    <!-- ANIMATE -->	
		<link rel='stylesheet' href="../static/css/animate.min.css">
  <style>
    .page-title-cont {
    margin-top: 0; /* Default margin, keep it as it was originally */
}

/* Adjust spacing for smaller screens */
@media (max-width: 768px) {
    .page-title-cont {
        margin-top: 80px !important; /* Use !important to ensure this margin is applied on small screens */
    }
}
    .header {
        z-index: 1000; /* or higher if needed */
        position: relative;
    }
    .current {
    border-bottom: none !important; /* Remove underline */
    text-decoration: none !important; /* Remove any text underline */
}
  </style>
		
	</head>
	<body>
      <!-- LOADER -->	
      <div id="loader-overflow">
        <div id="loader3">Please enable JS</div>
      </div>	
  
      <div id="wrap" class="boxed">
        <div class="grey-bg"> <!-- Grey BG  -->	       
        <div class="header-transporent-bg-white">				
          <!-- HEADER -->
          <div class="header-transporent-bg-black">
            <!-- HEADER -->
            {% include 'includes/contact_header.html' %}
  
              </div>
             </div>
            </div>
  
            <!-- MAIN MENU CONTAINER -->
           
						  <!-- END container-m-30 -->
						
					  </div>
					  <!-- END main-menu-container -->
					
					  <!-- SEARCH READ DOCUMENTATION -->
				    	<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
				    	</ul> <!-- cd-header-buttons -->
				    	<div id="cd-search" class="cd-search">
					    	<form class="form-search" id="searchForm" action="page-search-results.html" method="get">
							<input type="text" value="" name="q" id="q" placeholder="Search...">
				  		</form>
				  	</div>
				   </div>
				  <!-- END header-wrapper -->
				</header>
          
        <!-- PAGE TITLE -->
        <div class="page-title-cont page-title-big grey-light-bg">
          <div class="align-left container relative">
            <div class="row">
              <div class="col-md-8">
                <h1 class="page-title">CONTACT</h1>
                <div class="page-sub-title">
                  Contact us to explore innovative, tailored solutions that push the boundaries of advanced technologies.
                </div>
              </div>
              <div class="col-md-4">
                <div class="breadcrumbs">
                  <a href="Index_FA_EN.html">Home</a>
                  <span class="slash-divider">/</span>
                  <span class="bread-current">CONTACT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- GOOGLE MAP & CONTACT FORM -->
          <div class="page-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="google-map-container">
                      <a href="https://maps.google.com/?q=34.044908,-5.06472" target="_blank" rel="noopener noreferrer">
                        <img src="../static/images/map1.png" alt="Map Image" width="600" height="450" style="border:0;">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"f>
                  <div class="contact-form-cont">
                    <!-- TITLE -->
                    <div class="mb-40">
                      <h2 class="section-title">CONTACT <span class="bold">US</span></h2>
                    </div>       
                    <!-- CONTACT FORM -->
                    <div>
                      <form method="POST" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 mb-30">
                                        <input type="text" class="controled" name="name" id="fname" placeholder="NAME" required>
                                    </div>
                                </div>
                                
                                <div class="row">    
                                    <div class="col-md-12 mb-30">
                                        <input type="email" class="controled" name="email" id="email" placeholder="EMAIL" required>
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col-md-12 mb-40">
                                        <textarea rows="3" class="controled" name="message" id="message" placeholder="MESSAGE" required></textarea>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 text-center-xxs">
                                        <input type="submit" value="SEND MESSAGE" class="button medium gray" data-loading-text="Loading...">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkbox small">
                                            <label><input type="checkbox" name="agree" class="checkbox" required>I agree to the terms of service</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                      {% if request.GET.status == 'success' %}
                                <div class="alert alert-success animated fadeIn">
                                    Thanks, your message has been sent to us.
                                </div>
                            {% elif request.GET.status == 'error' %}
                                <div class="alert alert-danger animated shake">
                                    <strong>Error!</strong> There was an error sending your message.
                                </div>
                            {% endif %}
                    </div>
                  </div>
                </div>
                  
              </div>
            </div>
          </div>
          
          <!-- DIVIDER -->
          <hr class="mt-0 mb-0">          
          
          <!-- CONTACT INFO SECTION 1 -->
          <div id="contact-link" class="page-section p-110-cont grey-light-bg">
            <div class="container">
              <div class="row">
              
                <div class="col-md-4 col-sm-6">
                  <div class="cis-cont">
                    <div class="cis-icon">
                      <div class="icon icon-basic-map"></div>
                    </div>
                    <div class="cis-text">
                      <h3><span class="bold">ADDRESS</span></h3>
                      <p>2WVH+7R2, Rte Principale Fès Meknès</br>
                         FEZ - MOROCCO</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="cis-cont">
                    <div class="cis-icon">
                      <div class="icon icon-basic-mail"></div>
                    </div>
                    <div class="cis-text">
                      <h3><span class="bold">EMAIL</span></h3>
                      <p><a class="a-text" href="crem@ueuromed.org">crem@ueuromed.org</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="cis-cont">
                    <div class="cis-icon">
                      <div class="icon icon-basic-smartphone"></div>
                    </div>
                    <div class="cis-text">
                      <h3><span class="bold">CALL US</span></h3>
                      <p>053890-9000<br>053890-1010</p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>        
          </div>              
        <!-- FOOTER 4 BLACK -->
        {% include 'includes/footer.html' %}

        
				<!-- BACK TO TOP -->
				<p id="back-top">
          <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a>
        </p>
        
			</div><!-- End BG -->	
		</div><!-- End wrap -->	
			
<!-- JS begin -->

		<!-- jQuery  -->
		<script src="../static/js/jquery-1.11.2.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>		

		<!-- MAGNIFIC POPUP -->
		<script src='../static/js/jquery.magnific-popup.min.js'></script>
    
    <!-- PORTFOLIO SCRIPTS -->
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    
    <!-- COUNTER -->
    <script src="../static/js/jquery.countTo.js"></script>
    
    <!-- APPEAR -->    
    <script src="../static/js/jquery.appear.js"></script>
    
    <!-- OWL CAROUSEL -->    
    <script src="../static/js/owl.carousel.min.js"></script>
    
    <!-- FORMS VALIDATION	-->
		<script src="../static/js/jquery.validate.min.js"></script>
		<script src="../static/js/contact-form-validation.js"></script>    
    
    <!-- MAIN SCRIPT -->
		<script src="../static/js/main.js"></script>
    
<!-- JS end -->	
	
	</body>
</html>		