<!DOCTYPE html>
<html lang="fr">
 	<head>
		<title>UEMF-MANUFACTURING AND PROTOTYPING PLATFORM</title>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="robots" content="index, follow" >
		<meta name="keywords" content="research, innovation, Additive, manufacturing, 3D printing, CNC, Prototyping, tooling" >
		<meta name="description" content="UEMF Platform fabrication additive" >
		<meta name="author" content="Direction Systems d'information">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- FAVICONS -->
    <link rel="shortcut icon" href="../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/favicon/favicon.ico">
    <!-- BOOTSTRAP -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- GOOGLE FONT -->
		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7COpen+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- ICONS ELEGANT FONT & FONT AWESOME & LINEA ICONS -->
		<link rel="stylesheet" href="../static/css/icons-fonts.css" >

    <!-- CSS THEME -->
		<link rel="stylesheet" href="../static/css/style.css" >
    <link rel="stylesheet" href="../static/css/icons-fonts.css" >	

    <!-- IMAGES COMPARE -->
    <link rel="stylesheet" type="text/css" href="../static/css/twentytwenty.css">

    <!-- ANIMATE -->
		<link rel="stylesheet" href="../static/css/animate.min.css">
    <style>
        /* Additional styles */
      
        /* Additional styles */
        #video-thumbnail {
            width: 100%; /* Adjust to fit container */
            height: auto; /* Maintain aspect ratio */
        }

        #video-container {
            display: none;
            position: fixed; /* Position fixed to cover the screen */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, 0.8);
            padding: 10px;
            border-radius: 5px;
            z-index: 1000; /* Ensure it's above other content */
            border: none; /* Remove borders */
        }

        #video-player {
            width: 90%; /* Adjust width as needed */
            height: auto;
        }

        .video-background {
            background-image: url('images/play.png'); /* Update path as needed */
            background-size: cover; /* Ensure the image covers the entire container */
            background-position: center; /* Center the image */
            width: 100%;
            height: 100vh; /* Full viewport height */
            cursor: pointer; /* Indicate it's clickable */
        }

        #close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    </style>
	</head>
	<body>
		<!-- LOADER -->
		<div id="loader-overflow">
      <div id="loader3">Please enable JS</div>
    </div>
		<div id="wrap" class="boxed">
			<div class="grey-bg"> <!-- Grey BG  -->
      <div class="header-transporent-bg-black">
				<!-- HEADER -->
<!-- index_FA_EN.html -->
{% include 'includes/index_header.html' with logo_url=logo_url menu_items=menu_items %}
          

        <!-- STATIC MEDIA IMAGE -->
        <div class="sm-video-bg"  >
          <div class="sm-content-cont js-height-fullscr container text-left">
            <!-- VIDEO BG -->
            <!-- If you want to change video - replace video files in folder "video" -->
            <div class="sm-video-wrapper">
              <div class="sm-video"></div>
            </div>
            <div class="sm-cont-middle">
						  	<!-- LAYER NR. 1 -->
                <span class="bold"></span>
                <div class="font-white light-72-wide sm-mb-15 sm-mt-20 relative" >
						      <span class="bold">ADDITIVE/SUBSTRACTIVE MANUFACTURING AND PROTOTYPING PLATFORM</span>
						  	</div>

						  	<!-- LAYER NR. 2 -->
						    <div class="font-white norm-32-wide hide-0-736 sm-mb-50 relative">
                  Advanced technologies, materials expertise and practical knowledge in one place.
                </div>
            </div>
          </div>
          <!-- SCROLL ICON -->
					<div class="local-scroll-cont font-white">
						<a href="#about" class="scroll-down smooth-scroll">
              <div class="icon icon-arrows-down"></div>
            </a>
					</div>
        </div>
       </div>
        <!-- FEATURES 5 & TESTIMONIALS 1 -->
        <div id="about" class="page-section p-110-cont">
					<div class="container">
            <div class="row">
              <!-- TESTIMONIALS -->
              <div class="col-md-6 pb-4">
                <div class="mb-50">
								  <h2 class="section-title">About the<span class="bold"> Platform</span></h2>
								</div>
                <blockquote class="quote mb-0 pr-50-min-1169">
                  <p>
                    Our additive and subtractive manufacturing platform offers versatility, enabling rapid production of prototypes and functional parts across industries such as aerospace, automotive, and biomedical. We are committed to advancing materials science and shaping the future of manufacturing.
                  </p>
                  </blockquote>
							</div>
              <div class="col-md-6 pb-4">
                <div class="mb-50">
								  <h2 class="section-title">Our <span class="bold"> Expertise</span></h2>
								</div>
                <blockquote class="quote mb-0 pr-50-min-1169">
                  <p>
Our platform integrates both subtractive and additive manufacturing techniques to produce complex functional parts across various industrial sectors. We work with a range of materials, including Polymers, Metals, Composites, Ceramics, and Concrete.                  </p>
                  </blockquote>
							</div>
              <!-- FEATURES -->
						</div>
					</div>
				</div>

        <!-- FEATURES 7 -->
        <div class="page-section grey-light-bg clearfix">
          <div class="fes7-img-cont col-md-5">
            <div class="fes7-img"  style="background-image: url(../static/images/fes7.jpg)" ></div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-6 fes7-text-cont p-80-cont">
                <h1><span class="font-light">Additive Manufacturing Advantages</span></h1>
                <p class="mb-60">
Additive manufacturing is a production technology that builds objects layer by layer from materials, typically plastics, metals, or composites. This technology enables the fabrication of complex geometries that were previously impossible to achieve with traditional manufacturing methods.                </p>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="fes7-box wow fadeIn" >
                      <div class="fes7-box-icon">
                        <div class="icon icon-arrows-rotate"></div>
                      </div>
                      <h3>Geometric Complexity</h3>
                      <p>It allows the realization of complex geometries that were previously unattainable using traditional manufacturing methods.</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="fes7-box wow fadeIn" data-wow-delay="200ms">
                      <div class="fes7-box-icon">
                        <div class="icon icon-basic-lightbulb"></div>
                      </div>
                      <h3>Personalization</h3>
                      <p>It enables the production of customized and unique objects tailored to the specific needs of each user or application.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="fes7-box wow fadeIn" data-wow-delay="400ms">
                      <div class="fes7-box-icon">
                        <div class="icon icon-ecommerce-graph-decrease"></div>
                      </div>
                      <h3>Material Diversity</h3>
                      <p>Using a diverse range of materials, including plastics, metals, and composites, AM provides flexibility in material selection for creating innovative objects.</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="fes7-box wow fadeIn"  data-wow-delay="600ms">
                      <div class="fes7-box-icon">
                        <div class="icon icon-ecommerce-dollar"></div>
                      </div>
                      <h3>Rapid Prototyping</h3>
                      <p>3D printing allows for rapid prototyping, which accelerates the product development process, thus minimizing the associated costs.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div><!--end of row-->
          </div>
          <div class="local-scroll-cont font-black">
						<a href="#cd-timeline" class="scroll-down smooth-scroll">
              <div class="icon icon-arrows-down"></div>
            </a>
					</div>
        </div>
        <!--------------------------------------------------------->




        <!-- VIDEO ADS 1 -->
				<div class="page-section video-ads-bg">
    <div class="container">
        <div class="video-ads-text-cont clearfix">
            <span class="video-ads-text">ADDITIVE</span>
            <span class="video-ads-a">
                <!-- Clickable image that will trigger the video -->
                <img id="video-thumbnail" src="../static/images/play.png" alt="Video Thumbnail" style="cursor: pointer; width: 5%; height: auto;">
                
                <!-- Hidden video container with close button -->
                <div id="video-container">
                    <button id="close-button">X</button>
                    <video id="video-player" controls>
                        <source src="../static/Video/SSR.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </span>
            <span class="video-ads-text">MANUFACTURING</span>
        </div>
    </div>
</div>


        <div class="mb-100 container">

          <div>
            <div class="mt-60 mb-80">
                  <h3 class="section-title">DRIVING INNOVATION ACROSS INDUSTRIES</h3>
                  <p>
                    At CREM, we harness cutting-edge technologies to advance progress and innovation across diverse industrial sectors:
                  </p>
            </div>

            <div class="tabs-3">
              <ul class="nav nav-tabs xs-tabs-transform bootstrap-tabs">
                <li class="active">
                  <a href="#one" data-toggle="tab">AEROSPACE</a>
                </li>
                <li>
                  <a href="#two" data-toggle="tab">AUTOMOTIVE</a>
                </li>
                <li>
                  <a href="#three" data-toggle="tab">MEDICAL TECHNOLOGY</a>
                </li>
                <li>
                  <a href="#four" data-toggle="tab">OTHER INDUSTRIES</a>
                </li>
              </ul>
              <!-- END nav tabs -->

              <!-- Tab panes -->


              <div class="tab-content">

                  <div class="tab-pane fade in active" id="one">
                    <!-- Add Review -->
                    <div class="grey-light-bg leave-comment-cont">
                      <!-- TITLE -->
                      <h3 class="blog-page-title mt-50 mb-25">A New Era of Creation</h3>
                      <p>Within the aerospace industry, a transformative era of producing intricate components, previously challenging with conventional methods, is now attainable through additive manufacturing.
                      <p>From lightweight components to rocket engines, the potential for innovation is limitless.</p>
                    </div>
                    <!-- COTENT CONTAINER -->
                    <div class="p-140-cont container">

                      <div class="row mb-40">

                        <div class="twentytwenty-container">
                          <img src="../static/images/static-media/Turbine1.jpg">
                          <img src="../static/images/static-media/Turbine2.jpg">
                        </div>

                      </div>

                    </div>


                  </div>


                  <div class="tab-pane fade" id="two">


                    <!-- Add Review -->
                    <div class="grey-light-bg leave-comment-cont">
                      <!-- TITLE -->
                      <h3 class="blog-page-title mt-50 mb-25">Transofrming Automotive Manufacturing</h3>
                      <p>
                          From polymer-based composites tailored for specific automotive structures to customized metal 
                          parts made through 3D printing, modern manufacturing advancements enable part customization, 
                          cost and lead time reduction, as well as the creation of lighter structures and innovative geometries.
                      </p>
                    </div>


                  </div>

                  <div class="tab-pane fade" id="three">

                    <!-- Add Review -->
                    <div class="grey-light-bg leave-comment-cont">
                      <!-- TITLE -->
                      <h3 class="blog-page-title mt-50 mb-25">Precision Healthcare: Custom Solutions with Additive Manufacturing</h3>
                      <p>
                        Additive manufacturing is revolutionizing healthcare, through personalized medical solutions, 
                        from tailored implants to custom prosthetics.
                      </p>
                      <p>By leveraging this innovative technology, healthcare providers can now fabricate customized implants, 
                         prosthetics and other medical devices that are meticulously designed to meet the unique requirements of each patient, driving enhanced outcomes.
                      </p>
                      </p>
                    </div>
                    <!-- End Add Review -->
                  </div>
                  <div class="tab-pane fade" id="four">

                    <!-- Add Review -->
                    <div class="grey-light-bg leave-comment-cont">
                      <!-- TITLE -->
                      <h3 class="blog-page-title mt-50 mb-25">The Diverse Applications of Additive Manufacturing Across Industries</h3>
                      <p>
                         From mechanical engineering to construction, tool-making, art, fashion, and lifestyle, 
                         3D printing is revolutionizing a multitude of industries.
                      </p>
                      <p>
                        The versatility of additive manufacturing is driving innovation by empowering businesses and artists 
                        to explore new creative possibilities, unlock novel creative avenues, enhance efficiency, 
                        and redefine the standards within their industries.
                      </p>

                    </div>
                    <!-- End Add Review -->
                  </div>


                  </div>
              </div>
              <!-- END tab panes -->
            </div>
        </div>
            <!-- END tabs  -->


        <!-- CALL TO ACTION  -->
        <div class="port-view-more-cont-dark">
          <a class="port-view-more-dark" href="#">LET'S WORK TOGETHER</a>
        </div>

        <!-- NEWS LETTER -->
        <div class="page-section nl-cont">
          <div class="container">
            <div class="relative" >
              <div id="mc_embed_signup" class="nl-form-container clearfix">
                <form action="http://abcgomel.us9.list-manage.com/subscribe/post-json?u=ba37086d08bdc9f56f3592af0&amp;id=e38247f7cc&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletterform validate" target="_blank" novalidate>   <!-- EDIT THIS ACTION URL (add "post-json?u" instead of "post?u" and appended "&amp;c=?" to the end of this URL) -->
                  <input type="email" value="" name="EMAIL" class="email nl-email-input" id="mce-EMAIL" placeholder="Enter your email" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_ba37086d08bdc9f56f3592af0_e38247f7cc" tabindex="-1" value=""></div>

                  <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button medium gray">
                </form>
                <div id="notification_container"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- FOOTER 4 BLACK -->
        {% include 'includes/footer.html' %}


				<!-- BACK TO TOP -->
				<p id="back-top">
          <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a>
        </p>

			</div><!-- End BG -->
		</div><!-- End wrap -->

<!-- JS begin -->

		<!-- jQuery  -->
		<script src="../static/js/jquery-1.11.2.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

		<!-- MAGNIFIC POPUP -->
		<script src="../static/js/jquery.magnific-popup.min.js"></script>

    <!-- PORTFOLIO SCRIPTS -->
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/masonry.pkgd.min.js"></script>

    <!-- COUNTER -->
    <script src="../static/js/jquery.countTo.js"></script>

    <!-- APPEAR -->
    <script src="../static/js/jquery.appear.js"></script>

    <!-- OWL CAROUSEL -->
    <script src="../static/js/owl.carousel.min.js"></script>

    <!-- BACKGROUND VIDEO -->
    <script src="../static/js/jquery.backgroundvideo.min.js"></script>
    <script>
    // Video Init
    $(document).ready(function(){
        //if (!($("html").hasClass("mobile"))){
            var videobackground = new $.backgroundVideo($('.sm-video'), {
                "align": "centerXY",
                "width": 1920,
                "height": 1080,
                "path": "video/",
                "filename": "fa3d", // FILE NAME of your video
                "types": ["mp4"],
                "autoplay": true,
                "loop": true
            });
        //}

					if ($("html").hasClass("mobile")){
						document.getElementById('video_background').play();
					};
    });
    </script>


    <!-- MAIN SCRIPT -->
		<script src="../static/js/main.js"></script>

    <!-- IMAGES COMPARE -->
    <script src="../static/js/jquery.event.move.js"></script>
    <script src="../static/js/jquery.twentytwenty.js"></script>
    <script>
    $(function(){
      $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
    });
    </script>
<script>
document.getElementById('video-thumbnail').addEventListener('click', function() {
        var videoContainer = document.getElementById('video-container');
        var videoPlayer = document.getElementById('video-player');
        videoContainer.style.display = 'block';
        videoPlayer.play();
    });

    document.getElementById('close-button').addEventListener('click', function() {
        var videoContainer = document.getElementById('video-container');
        var videoPlayer = document.getElementById('video-player');
        videoPlayer.pause();
        videoPlayer.currentTime = 0;
        videoContainer.style.display = 'none';
    });
</script>

<!-- JS end -->

	</body>
</html>