<!DOCTYPE html>
<html lang="fr">
 	<head>
		<title>INFRASTRUCTURE</title>
    <meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="robots" content="index, follow" >
		<meta name="keywords" content="research" >
		<meta name="description" content="UEMF Platform fabrication additive" >
		<meta name="author" content="AB">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- FAVICONS -->
    <link rel="shortcut icon" href="../static/../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="../static/../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/../static/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/../static/images/favicon/favicon.ico">
    <link rel="icon" sizes="192x192" href="../static/../static/images/favicon/favicon.ico">
<!-- CSS -->
    <!--  GOOGLE FONT -->
    <link href="../static/../static/https://fonts.googleapis.com/css?family=Poppins:500,600,300%7COpen+Sans:400,300,700" rel="stylesheet" type="text/css">

    <!-- REVOSLIDER CSS SETTINGS -->

    <!-- REVOLUTION STYLE SHEETS -->
    <link href="../static/revo-slider-5/css/settings.css" rel="stylesheet" type="text/css">
        <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="../static/revo-slider-5/css/navigation-skins/hermes-custom.css">
        <!--  BOOTSTRAP -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	    <!-- ICONS ELEGANT FONT & FONT AWESOME & LINEA ICONS  -->
  		<link rel="stylesheet" href="../static/css/icons-fonts.css" >
	    <!--  CSS THEME -->
		<link rel="stylesheet" href="../static/css/style.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"  >



	    <!-- ANIMATE -->
		<link rel="stylesheet" href="../static/css/animate.min.css">
		</head>
	<body>
	<!-- LOADER -->
		<div id="loader-overflow">
      <div id="loader3" class="loader-cont">Please enable JS</div>
    </div>
		<div id="wrap" class="boxed">
			<div class="container-p-75-2"> <!-- Grey BG  -->
				

        {% include 'includes/index_header.html' with logo=logo index=index_url innovation=innovation_url infrastructure=infrastructure_url services=services_url contact=contact_url link_color=link_color link_hover_color=link_hover_color %}


        <!-- SLIDER Revo 2 -->
        <div class="indent-header relative" style="overflow:hidden;">

            <div class="rev_slider_wrapper fullscreen-container" id="rev_slider_280_1_wrapper" style="background-color:#fff;padding:0px;">

                <!-- START REVOLUTION SLIDER fullscreen mode -->
                <div id="rev_slider_202_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.1RC">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-672" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{{header_img}}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption font-poppins font-white tp-resizeme rs-parallaxlevel-6" id="slide-898-layer-1" style="z-index: 8; white-space: nowrap;"
                            data-fontsize="['80','66','60','60']"

                            data-height="none"
                            data-lineheight="['112','82','82','82']"
                            data-responsive_offset="on"
                            data-splitin="none"
                            data-splitout="none"

                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'

                            data-whitespace="nowrap"
                            data-width="none"
                            data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']"
                            data-y="['center','center','center','center']"
                            data-voffset="['0','0','0','0']"><span class="bold">{{image_header}}</span></div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption font-poppins font-white tp-resizeme rs-parallaxlevel-6" id="slide-898-layer-2" style="z-index: 8; white-space: nowrap;"
                            data-fontsize="['20','20','20','20']"
                            data-fontweight="400"
                            data-height="none"
                            data-lineheight="['40','40','40','40']"
                            data-responsive_offset="on"
                            data-splitin="none"
                            data-splitout="none"

                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'

                            data-whitespace="nowrap"
                            data-width="none"
                            data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']"
                            data-y="['center','center','center','center']"
                            data-voffset="['85','80','65','65']">
                            {{ image_descriptions.part1 }}<span class="slash-divider-10">|</span>{{ image_descriptions.part2 }}<span class="slash-divider-10">|</span>{{ image_descriptions.part3 }}<span class="slash-divider-10">|</span>{{ image_descriptions.part4 }}
                        </div>

                          </li>
                        </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->


          <!-- SCROLL ICON -->
          <div class="local-scroll-cont font-white">
            <a href="#about" class="scroll-down smooth-scroll">
              <div class="icon icon-arrows-down"></div>
            </a>
          </div>

        </div>

        <!-- DIVIDER -->
        <hr class="mt-0 mb-0">

        <div class="mb-50">
          <h2 class="section-title-2 pl-0 pr-0 text-center">OUR <span class="bold">INFRASTRUCTURE</span></h2>
        </div>
        

        <!-- REVO SLIDER OFFSET (Block need for revo slider bottom offset) -->
        <div id="rs-offset" ></div>


        <div class="container-2 container">

          <div class="slider-1 clearfix">

            <div class="flex-container">
              <div class="flexslider loading">
                <ul class="slides">

                  <!-- SLIDE 1 -->
                  <li style="background:url({{ slider_image_url_1 }}) no-repeat;background-position:50% 0">

                    <div class="container">
                      <div class="sixteen columns contain">
                        <h2 data-toptitle="38%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot">{{ gallery_texts.section_1.title }}<br><span class="bold">{{ gallery_texts.section_1.subtitle }}</span></h2>
                    </div>
                    </div><!-- End Container -->

                    <!-- SLIDE 2 -->
                    <li style="background:url({{ slider_image_url_2 }}) no-repeat;background-position:50% 0">

                    <div class="container">
                      <div class="sixteen columns contain">
                        <h2 data-toptitle="38%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot">{{ gallery_texts.section_2.title }}<br><span class="bold">{{ gallery_texts.section_2.subtitle }}</span></h2>
                    </div>
                    </div><!-- End Container -->

                    <!-- SLIDE 3 -->
                    <li style="background:url({{ slider_image_url_3 }}) no-repeat;background-position:50% 0">

                    <div class="container">
                      <div class="sixteen columns contain">
                        <h2 data-toptitle="38%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot">{{ gallery_texts.section_3.title }}<br><span class="bold">{{ gallery_texts.section_3.subtitle }}</span></h2>
                    </div>
                    </div><!-- End Container -->

                  </li><!-- End item -->

                </ul>
              </div>
            </div>

          </div><!-- End slider -->
          <hr>
          
        </div>
        <!-- PORTFOLIO SECTION (3 COLS, WIDE) -->
        <div id="portfolio-link" class="page-section gray-bg">
          <div class="relative">

            <div class="container-3 container">
              <div class="pt-80-b-30-cont">
                <!-- TITLE -->
              	<div class="mb-15 mb-xs-15">
              	  <h2 class="section-title2 p-0 text-center">OUR SCIENTIFIC INSTRUMENTATION</h2>


              	</div>

           			<!-- PORTFOLIO FILTER -->
                 <hr>
                 <!--- dunamic category handler-->
                 {% for category in categories %}
                 {% if category.platform.name == platform_name %}
                     <a href="#" class="filter" data-filter=".{{ category.abbreviation }}">{{ category.name }}</a>
                 {% endif %}
             {% endfor %}
              
              
              
              </div>
            </div>

            
            <!-- ITEMS GRID -->
            <ul class="port-grid display-hover-on-mobile masonry clearfix" id="items-grid">

      
              {% for product in products %}
              <li role="button" class="port-item mix {{ product.category.abbreviation }} {{ product.category.platform.name|lower }}">
                  <a href="#">
                      <div class="port-img-overlay">
                          <img class="port-main-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                      </div>
                  </a>
                  <div class="port-overlay-cont">
                      <div class="port-title-cont">
                          <h3><a href="#">{{ product.name }}</a></h3>
                          <span>{{ product.description }}</span>
                      </div>
                  </div>
              </li>
          {% endfor %}

            </ul>

          </div>
        </div>
        <!-- VIEW MORE PROJECTS  -->

        <!-- FOOTER 4 BLACK -->
        {% include 'includes/footer.html' %}

				<!-- BACK TO TOP -->
				<p id="back-top">
          <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a>
        </p>

			</div><!-- End BG -->
		</div><!-- End wrap -->

<!-- JS begin -->

		<!-- jQuery  -->
		<script src="../static/js/jquery-1.11.2.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

		<!-- MAGNIFIC POPUP -->
		<script src="../static/js/jquery.magnific-popup.min.js"></script>

    <!-- PORTFOLIO SCRIPTS -->
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/masonry.pkgd.min.js"></script>

    <!-- APPEAR -->
    <script src="../static/js/jquery.appear.js"></script>

    <!-- JQUERY TWEETS -->
		<script src="../static/js/twitter/jquery.tweet.js"></script>

		<!-- OWL CAROUSEL -->
    <script src="../static/js/owl.carousel.min.js"></script>

    <!-- MAIN SCRIPT -->
		<script src="../static/js/main.js"></script>

		<!-- REVOSLIDER SCRIPTS  -->
    <script src="../static/revo-slider-5/js/jquery.themepunch.tools.min.js"></script>
    <script src="../static/revo-slider-5/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
      The following part can be removed on Server for On Demand Loading) -->
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../static/revo-slider-5/js/extensions/revolution.extension.video.min.js"></script>

    <!-- SLIDER REVOLUTION INITIALIZATION  -->
    <script>
      jQuery(document).ready(function() {

        jQuery("#rev_slider_202_1").show().revolution({
          sliderType: "hero",
          jsFileLocation: "revo-slider-5/js/",
          sliderLayout: "fullscreen",
          dottedOverlay: "none",
          delay: 9000,
          responsiveLevels: [1240, 1024, 778, 480],
          visibilityLevels: [1240, 1024, 778, 480],
          gridwidth: [1240, 1024, 778, 480],
          gridheight: [868, 768, 960, 720],
          lazyType: "none",
          parallax: {
            type: "off",
            origo: "slidercenter",
            speed: 1000,
            levels: [0],
            type: "scroll",
            disable_onmobile: "on"
          },
          shadow: 0,
          spinner: "spinner2",
          shuffle: "off",
          autoHeight: "off",
          fullScreenAutoWidth: "off",
          fullScreenAlignForce: "off",
          fullScreenOffsetContainer: "#rs-offset",
          fullScreenOffset: "",
          disableProgressBar: "on",
          hideThumbsOnMobile: "off",
          hideSliderAtLimit: 0,
          hideCaptionAtLimit: 0,
          hideAllCaptionAtLilmit: 0,
          debugMode: false,
          fallbacks: {
            simplifyAll: "off",
            nextSlideOnWindowFocus: "off",
            disableFocusListener: false,
          }
        });

      }); /*ready*/
    </script>

    <!-- FLEX SLIDER SCRIPTS  -->
    <script src="../static/js/jquery.flexslider-min.js"></script>
    <script src="../static/js/flex-slider.js"></script>
<!-- JS end -->

	</body>
</html>