<!-- templates/product_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul class="port-grid display-hover-on-mobile masonry clearfix" id="items-grid">
        {% for product in products %}
            <li role="button" class="port-item mix {{ product.category.abbreviation }}">
                <a href="#">
                    <div class="port-img-overlay">
                        <img class="port-main-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                </a>
                <div class="port-overlay-cont">
                    <div class="port-title-cont">
                        <h3><a href="#">{{ product.name }}</a></h3>
                        <span>{{ product.description }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>
