<!DOCTYPE html>
<html lang="fr">
 	<head>
		<title>Fabrication Additive - Nos Services</title>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="robots" content="index, follow" >
		<meta name="keywords" content="3D printing Prototyping caracterisation" >
		<meta name="description" content="PLATFORM FA" >
		<meta name="author" content="AB">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../static/images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../static/images/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/favicon/favicon.png">
		<!-- CSS -->
    <!-- FLEXSLIDER SLIDER CSS -->
		<link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"  >
    <!-- BOOTSTRAP -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	   <!-- GOOGLE FONT -->
		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7COpen+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- ICONS ELEGANT FONT & FONT AWESOME & LINEA ICONS -->
		<link rel="stylesheet" href="../static/css/icons-fonts.css" >
    <!-- CSS THEME -->
		<link rel="stylesheet" href="../static/css/style.css" >
    <!-- ANIMATE -->
		<link rel='stylesheet' href="../static/css/animate.min.css">
		</head>
	<body>
		<!-- LOADER -->
		<div id="loader-overflow">
      <div id="loader3">Please enable JS</div>
    </div>
		<div id="wrap" class="boxed">
			<div class="grey-bg"> <!-- Grey BG  -->

				<!-- HEADER 1 NO-TRANSPARENT -->
        <div class="header-transporent-bg-black">
          <!-- HEADER -->
          {% include 'includes/header.html' %}

            </div>
            <!-- END header-wrapper -->
          </header>
        <!-- PAGE TITLE SMALL -->
        <div class="page-title-cont page-title-small grey-light-bg">
          <div class="align-left container relative">
            <div class="row">
               <div class="col-md-8">
                 <div class="fes4-box wow fadeIn">
                    <h2 class="section-title">OUR <span class="bold">SERVICES</span></h2>
                  </div>
                 </div>
                <div class="col-md-4">
                <div class="breadcrumbs">
                  <a href="Index_FA_EN.html">Home</a><span class="slash-divider">/</span><span class="bread-current">SERVICES</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- COTENT CONTAINER -->
				<!-- FEATURES 2 -->
				<div class="page-section">
					<div class="container-fluid">
						<div class="row">

							<div class="col-md-6 wow fadeInLeft equal-height">
								<div class="fes2-main-text-cont">
									<div class="title-fs-45">
										3D  <br>
										<span class="bold">DESIGN</span>
									</div>
									<div class="line-3-70"></div>
									<div class="fes2-text-cont">
                    Our 3d Design and reverse engineering services empower you to create exceptional 3D models, transforming your ideas into reality.
                  </div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="row">
									<div class="fes1-img equal-height"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- FEATURES 3 -->
				<div class="page-section">
					<div class="container-fluid">
						<div class="row">

							<div class="col-md-6 left-50 wow fadeInRight equal-height">
									<div class="fes2-main-text-cont">
										<div class="title-fs-45">
											ADDITIVE  <br>
											<span class="bold">MANUFACTURING</span>
										</div>
										<div class="line-3-100"></div>
										<div class="fes2-text-cont">Explore the infinite possibilities of additive manufacturing using cutting-edge technologies such as LPBF for metals, SLS for ceramics and polymers, FDM for thermoplastics and stereolithography (SLA) for resins.
                    </div>
									</div>
							</div>

              <div class="col-md-6 right-50">
								<div class="row">
									<div class="fes2-img equal-height" ></div>
								</div>
							</div>

						</div>
					</div>
				</div>

        <!------------------------------------------------------->
        <div class="page-section">
					<div class="container-fluid">
						<div class="row">

							<div class="col-md-6 wow fadeInLeft equal-height">
									<div class="fes2-main-text-cont">
										<div class="title-fs-45">
											SUBSTRACTIVE<br>
											<span class="bold">MANUFACTURING</span>
										</div>
										<div class="line-3-100"></div>
										<div class="fes2-text-cont">Unlock precision and excellence with our subtractive manufacturing services. Our advanced technologies create parts with impeccable tolerances and exceptional finishes, ensuring your designs come to life flawlessly.
                    </div>
									</div>
							</div>
              <div class="col-md-6">
								<div class="row">
									<div class="fes4-img equal-height" ></div>
								</div>
							</div>

						</div>
					</div>
				</div>
         <!----------------------------------------------------------------------------------->
         <div class="page-section">
					<div class="container-fluid">
						<div class="row">

							<div class="col-md-6 left-50 wow fadeInRight equal-height">
								<div class="fes2-main-text-cont">
									<div class="title-fs-45">
										COMPOSITE <br>
										<span class="bold">MATERIALS</span>
									</div>
									<div class="line-3-70"></div>
									<div class="fes2-text-cont">Our specialists guide material selection and optimization. Whether for aerospace, automotive, or high-performance applications, our services ensure impeccable precision and exceptional surface finishes in advanced components.
                  </div>
								</div>
							</div>

							<div class="col-md-6 right-50">
								<div class="row">
									<div class="fes5-img equal-height"></div>
								</div>
							</div>

						</div>
					</div>
				</div>

        <!------------------------------------------------------->
        <div class="page-section">
					<div class="container-fluid">
						<div class="row">

							<div class="col-md-6 wow fadeInLeft equal-height">
									<div class="fes2-main-text-cont">
										<div class="title-fs-45">
											MATERIALS AND MECHANICAL<br>
											<span class="bold">CHARACTERIZATION </span>
										</div>
										<div class="line-3-100"></div>
										<div class="fes2-text-cont">Our experts meticulously analyze materials, from powders to metal components. Our advanced techniques ensure product quality and reliability, preventing future failures and optimizing overall reliability.
                    </div>
									</div>
							</div>

              <div class="col-md-6">
								<div class="row">
									<div class="fes6-img equal-height" ></div>
								</div>
							</div>

						</div>
					</div>
				</div>


         <!----------------------------------------------------------------------------------->
         <div class="page-section">
					<div class="container-fluid">
						<div class="row">

							<div class="col-md-6 left-50 wow fadeInRight equal-height">
								<div class="fes2-main-text-cont">
									<div class="title-fs-45">
										R&D<br>
										<span class="bold">SPECIFIC</span>
									</div>
									<div class="line-3-70"></div>
									<div class="fes2-text-cont">
                    Partner with our dedicated research and development team. We thrive on challenges, turning your innovative ideas into reality. Explore our full range of services and let’s create something extraordinary together.
                  </div>
								</div>
							</div>
              <div class="col-md-6 right-50">
								<div class="row">
									<div class="fes7-img equal-height"></div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- DIVIDER -->
				<hr class="mt-0 mb-0">

        <!-- FEATURES 9 -->
        
				<!-- WORK PROCESS 1 -->
				<div class="page-section work-proc-1-bg" >
					<div class="fes4-cont container">
						<div class="row">

							<div class="col-md-4">
								<div class="mb-50">
								  <h2 class="section-title">OUR<span class="bold"> WORK PROCESS</span></h2>
								</div>
							</div>
							<div class="col-md-7 col-lg-offset-1">
                <div class="row">

                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="fes4-box">
                      <div class="fes4-title-cont" >
                        <div class="fes4-box-icon">
                          <div class="icon icon-basic-lightbulb"></div>
                        </div>
                        <h3><span class="bold">Needs Definition</span></h3>
                        <p>Identify the product requirements and performance criteria.</p>
                      </div>

                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="fes4-box" >
                      <div class="fes4-title-cont" >
                        <div class="fes4-box-icon">
                          <div class="icon icon-basic-gear"></div>
                        </div>
                        <h3><span class="bold">Prototype Design</span></h3>
                        <p> Choose materials and develop the design.</p>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="fes4-box" >
                      <div class="fes4-title-cont" >
                        <div class="fes4-box-icon">
                          <div class="icon icon-basic-laptop"></div>
                        </div>
                        <h3><span class="bold">MANUFACTURING</span></h3>
                        <p>3D CAD and advanced manufacturing techniques. </p>
                      </div>

                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="fes4-box" >
                      <div class="fes4-title-cont" >
                        <div class="fes4-box-icon">
                          <div class="icon icon-basic-paperplane"></div>
                        </div>
                        <h3><span class="bold">VALIDATION</span></h3>
                        <p>Mechanical characterization and performance verification.</p>
                      </div>
                    </div>
                  </div>

                </div>

							</div>
						</div>
					</div>
				</div>

        <div class="page-section p-80-cont">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="mt-60 mb-80">
                  <h2 class="section-title">LET US MAKE <br><span class="bold">YOUR COMPONENTS</span></h2>
                </div>
                <div class="row">

                      <div class="col-md-6 col-sm-6">
                        <div class="fes7-box mb-20 wow fadeIn" >
                          <div class="fes7-box-icon">
                            <div class="icon icon-arrows-expand"></div>
                          </div>
                          <h3>With extreme topological complexity</h3>

                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="fes7-box mb-20 wow fadeIn" data-wow-delay="200ms">
                          <div class="fes7-box-icon">
                            <div class="icon icon-basic-gunsight"></div>
                          </div>
                          <h3>With High-precision</h3>

                        </div>
                      </div>

                    </div>

                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class="fes7-box mb-20 wow fadeIn" data-wow-delay="400ms">
                      <div class="fes7-box-icon">
                        <div class="icon icon-basic-helm"></div>
                      </div>
                      <h3>With various materials</h3>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="fes7-box mb-20 wow fadeIn"  data-wow-delay="600ms">
                      <div class="fes7-box-icon">
                        <div class="icon icon-basic-gear"></div>
                      </div>
                      <h3>Using advanced technologies</h3>

                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6 fes9-img-cont clearfix">
                <div class="fes9-img-center clearfix">
                  <div class="fes9-img-center">
                    <img src="../static/images/3.png" alt="img" class="wow fadeInUp" data-wow-delay="150ms" data-wow-duration="1s">
                    <img src="../static/images/2.png" alt="img" class="wow fadeInUp" data-wow-delay="450ms" data-wow-duration="1s">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- CALL TO ACTION  -->
        <div class="port-view-more-cont-dark">
          <a class="port-view-more-dark" href="Contact_FA_EN.html">LET'S WORK TOGETHER</a>
        </div>
        <!-- NEWS LETTER -->
        <div class="page-section nl-cont">
          <div class="container">
            <div class="relative" >
              <div id="mc_embed_signup" class="nl-form-container clearfix">
                <form action="http://abcgomel.us9.list-manage.com/subscribe/post-json?u=ba37086d08bdc9f56f3592af0&amp;id=e38247f7cc&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletterform validate" target="_blank" novalidate>   <!-- EDIT THIS ACTION URL (add "post-json?u" instead of "post?u" and appended "&amp;c=?" to the end of this URL) -->
                  <input type="email" value="" name="EMAIL" class="email nl-email-input" id="mce-EMAIL" placeholder="Enter your email" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_ba37086d08bdc9f56f3592af0_e38247f7cc" tabindex="-1" value=""></div>

                  <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button medium gray">
                </form>
                <div id="notification_container"  ></div>
              </div>
            </div>
          </div>
        </div>

        <!-- FOOTER 2 -->
        {% include 'includes/footer.html' %}

				<!-- BACK TO TOP -->
				<p id="back-top">
          <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a>
        </p>
      </div><!-- End BG -->
    </div><!-- End wrap -->
			</div><!-- End BG -->
		</div><!-- End wrap -->

<!-- JS begin -->

		<!-- jQuery  -->
		<script src="../static/js/jquery-1.11.2.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

		<!-- MAGNIFIC POPUP -->
		<script src='../static/js/jquery.magnific-popup.min.js'></script>

    <!-- PORTFOLIO SCRIPTS -->
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>

    <!-- COUNTER -->
    <script src="../static/js/jquery.countTo.js"></script>

    <!-- APPEAR -->
    <script src="../static/js/jquery.appear.js"></script>

    <!-- OWL CAROUSEL -->
    <script src="../static/js/owl.carousel.min.js"></script>

    <!-- MAIN SCRIPT -->
		<script src="../static/js/main.js"></script>

<!-- JS end -->

	</body>
</html>